<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDyiGGuIjztdhex5yy3o5470D_YPpasVcM</string>
	<key>GCM_SENDER_ID</key>
	<string>131160651387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maximedelporte.mybooks</string>
	<key>PROJECT_ID</key>
	<string>mybooks-1c1d6</string>
	<key>STORAGE_BUCKET</key>
	<string>mybooks-1c1d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131160651387:ios:c8d322037fc27a988cd4de</string>
</dict>
</plist>